.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.section:nth-child(1) {
  background-color: #ff6347;
}

.section:nth-child(2) {
  background-color: #3cb371;
}

.section:nth-child(3) {
  background-color: #1e90ff;
}

